/* 字體要等真的研究 Semantic UI 的覆寫 有很多 css 屬性都直接用 !important 覆蓋了 */

body {
    /* font-family: 'Avenir', Helvetica, Arial, "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    background-color: #E1E1E1;
}

/* 最上列 tab */

#todoListMain .ui.pointing.secondary.menu>a {
    color: white;
}

#todoListMain .ui.pointing.secondary.menu>a.active {
    border-color: #00408B;
}

/* end 最上列 tab */

/* card */

#todoListMain .ui.card {
    width: auto;
    margin-top: 0;
}

#todoListMain .ui.card:last-child {
    margin-bottom: 1em;
}

/* end card */

#todoListMain .star.icon:not(.outline) {
    color: #F5A623;
}

button.cancelBtn {
    background-color: white !important;
    color: #D0021B !important;
    font-weight: 500 !important;
}

button.cancelBtn:hover {
    font-weight: 700 !important;
}

button.cancelBtn:active {
    background-color: rgba(208, 2, 26, 0.7) !important;
    color: white !important;
}

button.keepBtn {
    background-color: #4A90E2 !important;
    color: white !important;
    font-weight: 500 !important;
}

button.keepBtn:hover {
    font-weight: 700 !important;
}

button.keepBtn:active {
    background-color: rgba(74, 145, 226, 0.7) !important;
    color: white !important;
}

input.blackPlaceholder::placeholder {
    color: rgba(0, 0, 0, 0.795) !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.text-danger {
    margin-left: 2em;
    font-size: 0.6em;
    color: red;
}

.text-done {
    color: #757575;
    text-decoration: line-through;
}

.backgroundGrey {
    background-color: #F2F2F2 !important;
}

.backgroundOrange {
    background-color: #FFF2DC !important;
}

.raisedShadow {
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15);
}
